<!DOCTYPE html>
<html lang="en, id" style="scroll-behavior: smooth !important">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="manajemen-perpustakaan">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <meta name="keywords" content="manajemen, perpustakaan, kurikulum merdeka">

    <meta name="author" content="kelompok 8, produktif mapel pilihan, kurikulum merdeka">

    <meta property="og:url" content="https://manajemen-perpustakaan.herokuapp.com">
    <meta property="og:title" content="manajemen-perpustakaan">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="id, ID">
    <meta property="og:description" content="manajemen-perpustakaan">

    <title>Hi ! {{ userName }}</title>

    <!-- Style -->
    <link rel="stylesheet" href="./static/css/daftar_buku.css" type="text/css">
    <link rel="stylesheet" href="./static/css/logOut.css" type="text/css">
    <link rel="stylesheet" href="./static/css/lb-deks/style.css" type="text/css">
    <link rel="shortcut icon" href="./static/img/skanesa.ico" type="image/x-icon">

    <style>
        @media only screen and (max-width: 1139px) {
            .LB-Desktop {
                display: none;
            }
        }

        @media only screen and (min-width:1140px) {
            .LB-Mobile {
                display: none;
            }
        }
    </style>
</head>

<body>
    <section id="book">
        <section id="daftar-buku">
            <div class="title-buku">
                <h1>Daftar Buku</h1>
            </div>
        </section>

        <div class="daftar-menu LB-Mobile">
            {% for book_item in bookSisa %}
            <ul class="list">
                <li class="list-item">
                    <div class="cover">
                        <div class="nama-buku">
                            <div class="deskripsi-buku">
                                <form method="post">
                                    <h3 name="nama_buku" id="jdl-buku">{{ book_item['fill']['nama'] }}</h3>
                                    <input type="hidden" name="book_id" value="{{ book_item['fill']['id'] }}"
                                        id="id-book">
                                    <input type="hidden" name="nama_buku_input" value="{{ book_item['fill']['nama'] }}">
                                    <input type="hidden" name="author"
                                        data-author-value="{{ book_item['fill']['penerbit'] }}" id="author_input">
                                    {% if book_item['sisa'] is not none %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : {{ book_item['sisa'] }}</p>
                                    <input type="hidden" name="sisa_buku_input" value="{{ book_item['sisa'] }}"
                                        id="sisa_buku_hidden">
                                    {% else %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : Data tidak tersedia</p>
                                    <input type="hidden" name="sisa_buku_input" value="Data tidak tersedia"
                                        id="sisa_buku_hidden">
                                    {% endif %}
                                    <div class="buttn">
                                        <button type="button" class="btn" data-book-id="{{ book_item['fill']['id'] }}"
                                            data-book-name="{{ book_item['fill']['nama'] }}"
                                            data-book-author="{{ book_item['fill']['penerbit'] }}"
                                            id="btn-edit-{{ loop.index }}">
                                            <i data-feather="edit-3" width="15px"></i>
                                            <h6>Edit</h6>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>

        <div class="LB-Desktop" id="list-book-desktop">
            <div class="lb-cover">
                <div class="lb-deskripsi-buku">
                    <form method="post">
                        <div class="tab">
                            <div class="no">
                                <h3>No</h3>
                            </div>
                            <div class="id">
                                <h3>ID Buku</h3>
                            </div>
                            <div class="judul">
                                <h3>Judul</h3>
                            </div>
                            <div class="jmlh-buku">
                                <h3>Jmlh Buku</h3>
                            </div>
                            <div class="action">
                                <h3>Edit</h3>
                            </div>
                        </div>
                        {% for book_item in bookSisa %}
                        <ul class="list">
                            <div class="edit tab">
                                <div class="no">
                                    <h3>{{ loop.index }}</h3>
                                </div>
                                <div class="id">
                                    <h3 name="book_id" id="id-book">{{ book_item['fill']['id'] }}</h3>
                                </div>
                                <div class="judul">
                                    <h3 name="nama_buku" id="jdl-buku">{{ book_item['fill']['nama'] }}</h3>
                                </div>
                                <input type="hidden" name="book_id" value="{{ book_item['fill']['id'] }}">
                                <input type="hidden" name="nama_buku_input" value="{{ book_item['fill']['nama'] }}">
                                <input type="hidden" name="author"
                                    data-author-value="{{ book_item['fill']['penerbit'] }}" id="author_input">
                                <div class="jmlh-buku">
                                    {% if book_item['sisa'] is not none %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : {{ book_item['sisa'] }}</p>
                                    <input type="hidden" name="sisa_buku_input" value="{{ book_item['sisa'] }}"
                                        id="sisa_buku_hidden">
                                    {% else %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : Data tidak tersedia</p>
                                    <input type="hidden" name="sisa_buku_input" value="Data tidak tersedia"
                                        id="sisa_buku_hidden">
                                    {% endif %}
                                </div>
                                <div class="lb-button action">
                                    <button type="button" class="btn" data-book-id="{{ book_item['fill']['id'] }}"
                                        data-book-name="{{ book_item['fill']['nama'] }}"
                                        data-book-author="{{ book_item['fill']['penerbit'] }}"
                                        id="btn-edit-{{ loop.index }}">
                                        <i data-feather="edit-3" width="15px"></i>
                                        <h6>Edit</h6>
                                    </button>
                                </div>
                            </div>
                        </ul>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="myAlert" class="overlay" style="display: none">
        <div class="cover-alert">
            <div class="alert-book">
                <div class="nama-buku">
                    <div class="deskripsi-buku">
                        <form method="post">
                            <div class="data-buku">
                                <p name="nama_buku" id="nama_buku"></p>
                                <p name="penerbit" id="penerbit"></p>
                                <p name="sisa" id="sisa"></p>
                            </div>
                            <input type="hidden" name="book_id" id="book_id" />
                            <input type="hidden" name="nama_buku_input" id="nama_buku_input" />
                            <input type="number" name="sisa_buku" id="sisa_buku" required
                                placeholder="ubah sisa buku..." min-length="1" />
                            <input type="hidden" name="penerbit_buku" id="penerbit_buku" />
                            <div class="buttn" style="display: grid; justify-items: center">
                                <button type="button" class="btn" id="btn-save">
                                    <i data-feather="save"></i>
                                    <p style="margin: 0px 10px">Simpan</p>
                                </button>
                                <button type="button" class="btn-2" id="btn-cancel">
                                    <i data-feather="x"></i>
                                    <p style="margin: 0px 10px">Kembali</p>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <footer class="footer">
            <div class="navbar">
                <ul class="nav-link">
                    <li class="active">
                        <a href="{{ url_for('home') }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('profil') }}">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li class="search-box active">
                        <input type="text" name="filter" id="filter" class="search-input"
                            placeholder="Cari judul/id buku...">
                        <a class="search-btn" id="search">
                            <i data-feather="search" class="fas fa-search" color="#000"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>


    <script type="text/javascript" src="./static/js/list_book.js"></script>
    <script type="text/javascript" src="./static/js/module/search.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>
</body>

</html>