@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,400&display=swap");

:root {
  --black: #000;
  --navbar: #edb953;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  background: #68cbe2;
  position: relative;
  padding-bottom: 100px;
}

#main {
  border: 1px solid #fff;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 20vh;
  background: #fff;
  padding: 20px 0px;
}

.user img {
  margin: 0px 20px;
  border: 1px solid var(--black);
  border-radius: 100%;
  background-color: var(--navbar);
}

.daftar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.user-text {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
  width: 100%;
}

.daftar-buku,
.data-buku {
  margin: 20px 0px;
}

.menu .daftar-buku img {
  background: #fff;
  width: 40%;
  border-radius: 100%;
}
.menu .data-buku img {
  background: #fff;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--navbar);
  border-top-left-radius: 50% 90%;
  border-top-right-radius: 50% 90%;
  padding: 20px 0px;
  height: 30px;
  width: 100%;
  position: fixed;
  z-index: 99999;
  bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  justify-content: space-evenly;
  margin: 10px 30px;
}

.hideen {
  display: none;
}

@media only screen and (min-width:800px) and (max-width:1080px) {

  body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  #main {
    margin: 0px 150px;
  }
}

@media only screen and (min-width:1140px) {

  #main {
    margin: 0px 500px;
    overflow: hidden;
  }
}