@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,400&display=swap');

:root {
    --black: #000;
    --bg: #68cbe2;
    --btn: #edb953;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: var(--bg);
}

#signIn {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

hr {
    border: 2px dashed var(--black);
    margin: 0;
    padding: 0;
    width: 100%;
}

.title-text {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    text-shadow: 2px 2px 2px #fff;
}

.Log-In input{
    height: 6vh;
    border-radius: 0.5rem;
    border: none;
    color: var(--black);
    padding: 0px 20px;
}

.passwd-user {
    margin: 30px 0px;
}

input[type="text"], input[type="password"] {
    box-shadow: inset 3px 3px 4px rgba(0,0,0);
    width: 70%;
}

#checkbox {
    width: 50px;
    height: 20px;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background: var(--btn);
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.error {
    color: #ff0000;
    margin-top: -25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: start;
    margin-left: 70px;
}

.logout {
    background: rgba(0, 255, 0, 0.8);
    margin: 20px 120px;
    padding: 10px 0px;
    border-radius: 20px;
}

@media only screen and (min-width:701px) and (max-width:1080px) {
    body {
        margin: 0px 200px;
    }
}

@media only screen and (min-width:1140px) {
    body {
        margin: 0px 500px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width:768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:760px) {
    body {
        overflow: hidden;
    }
    
}

.check-passwd {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 40px;
    position: relative;
    left: 17%;
}

#checkPw {
    margin: 0px 10px;
}