<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="manajemen-perpustakaan" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Hi ! {{ userName }}</title>
    <link rel="stylesheet" href="./static/css/daftar_buku.css" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <section id="book">
        <section id="daftar-buku">
            <div class="title-buku">
                <h1>Daftar Buku</h1>
            </div>
        </section>

        <div class="daftar-menu">
            <ul class="list">
                <li class="list-item">
                    <div class="cover">
                        <div class="nama-buku">
                            <img src="./static/img/buku.png" alt="daftar buku" width="40%" />
                            <div class="deskripsi-buku">
                                <form action="/daftar-buku" method="post">
                                    <h3></h3>
                                    <p name="sisa" id="tersisa" class="tersisa">Tersisa : </p>
                                    <input type="hidden" name="id" value="">
                                    <input type="hidden" name="tersisa_value" id="tersisa_value" value="" class="tersisa_value">
                                    <div class="setting">
                                        <button type="button" class="plus" data-book-id="">
                                            <i data-feather="plus" width="15px"></i>
                                        </button>
                                        <button type="button" class="minus" data-book-id="">
                                            <i data-feather="minus" width="15px"></i>
                                        </button>
                                    </div>
                                    <div class="btn">
                                        <button type="submit" id="btn">Kirim</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="footer">
        <footer class="footer">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('profil_admin') }}">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>

    <script>
        feather.replace();
    </script>
    <script type="text/javascript" src="./static/js/list_book.js"></script>
</body>

</html>