<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="manajemen-perpustakaan" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Hi ! {{ user }}</title>
    <link rel="stylesheet" href="./static/css/profil.css" type="text/css" />
    <link rel="stylesheet" href="./static/css/logOut.css" type="text/css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <section class="profil">
        <div class="user">
            <img src="./static/img/portofolio pribadi.jpg" alt="user" width="20%" />
            <div class="user-text">
                <h2>{{ user }}</h2>
            </div>
        </div>
    </section>

    <section class="profil-data">
        <div class="data">
            <div class="data-user">
                <h4>{{ user }}</h4>
            </div>
            <div class="nomor-user">{{ nomor }}</div>
            <div class="kelas-user">{{ kelas }}</div>
            <div class="log-out">
                <button type="button" id="btnLogout" onclick="showAlert()">Log Out</button>
            </div>
        </div>
    </section>

    <section>
        <footer class="footer">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for("home") }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>

    <section id="alert" class="overlay">
        <div class="cover-alert">
            <div class="alert">
                <div class="text-alert">
                    <h3>Apakah anda yakin ingin keluar ? </h3>
                </div>
                <div class="choose-btn">
                    <button type="button" id="ya" onclick="logOut()">Ya</button>
                    <button type="button" id="tidak" onclick="noLogOut()">Tidak</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        var btnLogout = document.getElementById("btnLogout");
        var alertElement = document.querySelector('.overlay');
        var btnNoLogOut = document.getElementById("tidak");

        btnLogout.addEventListener("click", () => {
            showAlert();
        });

        function showAlert() {
            alertElement.style.display = "block";
        }

        function hideAlert() {
            alertElement.style.display = "none";
        }

        function logOut() {
            window.location.href = "/";
        }

        function noLogOut() {
            btnNoLogOut.addEventListener("click", () => {
                hideAlert();
            });
        }

        feather.replace();
    </script>

    <script type="text/javascript" src="./static/js/login.js"></script>

</body>

</html>