<!DOCTYPE html>
<html lang="en, id" style="scroll-behavior: smooth !important">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="manajemen-perpustakaan">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <meta name="keywords" content="manajemen, perpustakaan, kurikulum merdeka">

    <meta name="author" content="kelompok 8, produktif mapel pilihan, kurikulum merdeka">

    <meta property="og:url" content="https://manajemen-perpustakaan.herokuapp.com">
    <meta property="og:title" content="manajemen-perpustakaan">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="id, ID">
    <meta property="og:description" content="manajemen-perpustakaan">

    <title>Hi ! {{ userName }}</title>

    <!-- Style -->
    <link rel="stylesheet" href="./static/css/daftar_buku.css" type="text/css">
    <link rel="stylesheet" href="./static/css/logOut.css" type="text/css">
    <link rel="stylesheet" href="./static/css/lb-deks/style.css" type="text/css">
    <link rel="shortcut icon" href="./static/img/skanesa.ico" type="image/x-icon">

    <script src="https://unpkg.com/feather-icons"></script>

    <style>
        @media only screen and (min-width: 1140px) {
            body {
                margin: 0px 500px;
            }
        }
    </style>
</head>

<body>
    <section id="book">
        <section id="daftar-buku">
            <div class="title-buku">
                <h1>Daftar Buku</h1>
            </div>
        </section>

        <div class="daftar-menu LB-Mobile">
            {% for book_item in bookSisa %}
            <ul class="list">
                <li class="list-item">
                    <div class="cover">
                        <div class="nama-buku">
                            <div class="cover-img">
                                <img src="{{ book_item['fill']['img'] }}" alt="daftar buku" width="90%" />
                            </div>
                            <div class="deskripsi-buku">
                                <form method="post">
                                    <h3 name="nama_buku" id="jdl-buku">{{ book_item['fill']['nama'] }}</h3>
                                    <input type="hidden" name="book_id" value="{{ book_item['fill']['id'] }}" id="id-book">
                                    <input type="hidden" name="nama_buku_input" value="{{ book_item['fill']['nama'] }}">
                                    {% if book_item['sisa'] is not none %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : {{ book_item['sisa'] }}</p>
                                    {% else %}
                                    <p name="sisa_buku" class="tersisa">Tersisa : Data tidak tersedia</p>
                                    {% endif %}
                         
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
            
        </div>
    </section>
    
    <section id="footer">
        <footer class="footer">
            <div class="navbar">
                <ul class="nav-link">
                    <li class="active">
                        <a href="{{ url_for('home') }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('profil_admin') }}">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li class="search-box active">
                        <input type="text" name="filter" id="filter" class="search-input" placeholder="Cari judul buku...">
                        <a class="search-btn" id="search">
                            <i data-feather="search" class="fas fa-search" color="#000"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>


    <script type="text/javascript" src="./static/js/list_book.js"></script>
    <script type="text/javascript" src="./static/js/search/search.js"></script>
    <script>
        feather.replace();
    </script>
</body>

</html>