<!DOCTYPE html>
<html lang="en, id" style="scroll-behavior: smooth !important">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="manajemen-perpustakaan" />

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <meta name="keywords" content="manajemen, perpustakaan, kurikulum merdeka" />

    <meta name="author" content="kelompok 8, produktif mapel pilihan, kurikulum merdeka" />

    <meta property="og:url" content="https://manajemen-perpustakaan.herokuapp.com" />
    <meta property="og:title" content="manajemen-perpustakaan" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="id, ID" />
    <meta property="og:description" content="manajemen-perpustakaan" />

    <title>Hi ! {{ userName }}</title>

    <!-- Style -->
    <link rel="stylesheet" href="./static/css/daftar_buku.css" type="text/css" />
    <link rel="stylesheet" href="./static/css/client/pinjam.css" type="text/css">

    <link rel="shortcut icon" href="./static/img/skanesa.ico" type="image/x-icon" />

    <script src="https://unpkg.com/feather-icons"></script>

    <style>
        @media only screen and (min-width:701px) and (max-width:1080px) {
            body {
                margin: 0px 200px;
            }
        }

        @media only screen and (min-width:1140px) {
            body {
                margin: 0px 500px;
                padding-bottom: 100px;
            }
        }
    </style>
</head>

<body>
    <main class="main">
        <section class="title">
            <div class="nav-title">
                <div class="text">
                    <h2>Peminjaman & Pengembalian Buku</h2>
                </div>
            </div>
        </section>

        <section class="body">
            <div class="data-header">
                <div class="header">
                    <h5>Judul Buku</h5>
                    <h5>Tanggal Pinjam</h5>
                    <h5>Tanggal Kembali</h5>
                </div>
            </div>
            <div class="data-body">
                {% if data is not none%}
                {% for judul, pinjam, kembali in data%}
                <div class="data">
                    <h5>{{ judul }}</h5>
                    <h5>{{ pinjam }}</h5>
                    <h5>{{ kembali }}</h5>
                </div>
                {% else %}
                <div class="data">
                    <h5>Tidak ada data</h5>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
    <section id="footer">
        <footer class="footer">
            <div class="navbar">
                <ul class="nav-link">
                    <li class="active">
                        <a href="{{ url_for('home') }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('profil') }}">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>

    <script>
        feather.replace();
    </script>
</body>

</html>