<!DOCTYPE html>
<html lang="en, id" style="scroll-behavior: smooth !important">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="manajemen-perpustakaan">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <meta name="keywords" content="manajemen, perpustakaan, kurikulum merdeka">

    <meta name="author" content="kelompok 8, produktif mapel pilihan, kurikulum merdeka">

    <meta property="og:url" content="https://manajemen-perpustakaan.herokuapp.com">
    <meta property="og:title" content="manajemen-perpustakaan">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="id, ID">
    <meta property="og:description" content="manajemen-perpustakaan">

    <title>Hi ! {{ userName }}</title>
    <link rel="stylesheet" type="text/css" href="./static/css/profil.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/logOut.css" />
    <link rel="shortcut icon" href="./static/img/skanesa.ico" type="image/x-icon">

    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <section class="profil">
        <div class="user">
            <img src="./static/img/portofolio pribadi.jpg" alt="user" width="20%" />
            <div class="user-text">
                <h2>{{ nama }}</h2>
            </div>
        </div>
    </section>

    <section class="profil-data">
        <div class="data">
            <div class="data-user">
                <h4>{{ nama }}</h4>
            </div>
            <div class="nomor-user">{{ nomor }}</div>
            <div class="kelas-user">{{ kelas }}</div>
            <div class="log-out">
                <button type="button" id="btnLogout" onclick="alert()">Log Out</button>
            </div>
        </div>
    </section>

    <section>
        <footer class="footer">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for("home") }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>

    <script type="text/javascript">        
        function alert() {
            const swalButtons = Swal.mixin({
                customClass: {
                    confirmButton: "#ya",
                    cancelButton: "#tidak"
                },
                buttonsStyling: false
            });
            
            swalButtons.fire({
                text: "Apakah kamu yakin ingin keluar?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ya",
                cancelButtonText: "Tidak",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{{ url_for('logout') }}";
                }
            }); 
        }
    </script>
    <script>
        feather.replace();
    </script>
</body>

</html>