<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="manajemen-perpustakaan" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Hi ! {{ userName }}</title>
    <link rel="stylesheet" href="./static/css/dashboard_user.css" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <section id="main">
        <section>
            <div class="user">
                <img src="./static/img/portofolio pribadi.jpg" alt="user" width="20%" />
                <div class="user-text">
                    <h4>Welcome,</h4>
                    <h2>{{ userName }}</h2>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fff" fill-opacity="999"
                    d="M0,288L60,288C120,288,240,288,360,261.3C480,235,600,181,720,144C840,107,960,85,1080,85.3C1200,85,1320,107,1380,117.3L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
                </path>
            </svg>
        </section>

        <section class="daftar-menu">
            <div class="menu">
                <div class="cover">
                    <div class="daftar-buku">
                        <a href="{{ url_for('list_book_client') }}">
                            <img src="./static/img/daftar_buku.png" alt="daftar buku" width="40%" />
                            <h6>Daftar Buku</h6>
                        </a>
                    </div>
                </div>

                <div class="cover">
                    <div class="data-buku">
                        <a href="">
                            <img src="./static/img/diagram_batang.png" alt="data buku" width="40%" />
                            <h6>
                                Data Peminjaman & <br />
                                Pengembalian buku
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section>
        <footer class="footer">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>

    <script>
        feather.replace();
    </script>
    <script type="text/javascript" src="./static/js/dashboard.js"></script>
</body>

</html>